[submodule "MADdocs"]
	path = doc
	url = https://github.com/MethodicalAcceleratorDesign/MADdocs
	update = merge
[submodule "MADLibs"]
	path = bin
	url = https://github.com/MethodicalAcceleratorDesign/MADLibs
	update = merge
[submodule "MADpy"]
	path = pymad
	url = https://github.com/MethodicalAcceleratorDesign/MADpy
	update = merge
