[submodule "MADdocs"]
	path = doc
	url = https://github.com/MethodicalAcceleratorDesign/MADdocs
[submodule "MADLibs"]
	path = bin
	url = https://github.com/MethodicalAcceleratorDesign/MADLibs
[submodule "MADpy"]
	path = pymad
	url = https://github.com/MethodicalAcceleratorDesign/MADpy
