.DS_Store
*.o
*.so
*.obj
*.lib
*.exp
*.dll
*.exe
*.manifest
*.dmp
*.swp
tmp
*.tar.gz
*.a
src/mad
lib/fftw3
lib/lapack
lib/luajit
lib/nfft3
lib/nlopt2
lib/lfs1
lib/lpeg
src/build
tests
tests/utests/*_gen.mad
tests/utests/*.tfs

lib/luarocks*
install
